body{
  background-color: #e9967a
}
.title {
    position: relative;
    font-size: 56px;
    color: white;
    transition-duration: 0.4s;
    font-weight: bold;
    width: 100%;
    background-color: #ff6347;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
}

.title:before {
    content: "Derivitive Bee";
    height: 60%;
    position: absolute;
    color: 	#f0e68c;
    overflow: hidden;
}
.timer{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  background-color: #f0e68c;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size: 8vw;
  color: white;
}
#slate{
  position: relative;
  width: 55%;
  height: 50%;
  margin-top: 25px;
  background-color: #ffffcc;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
img{
  border: 0;
  height: 50%;
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#butDiv{
  margin-top: 20px;
  text-align: center;
}
#start{
  position: relative;
  padding: 0;
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b53);
  background-image: -moz-linear-gradient(top, #d93434, #b82b53);
  background-image: -ms-linear-gradient(top, #d93434, #b82b53);
  background-image: -o-linear-gradient(top, #d93434, #b82b53);
  background-image: linear-gradient(to bottom, #d93434, #b82b53);
  -webkit-box-shadow: 0px 2px 10px #666666;
  -moz-box-shadow: 0px 2px 10px #666666;
  box-shadow: 0px 2px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  margin-left: 50px;
  margin-right : 50px;
  /*border: solid #c6cacc 2px;*/
  text-decoration: none;
  border: 0;
}


#start:hover {
  background: #e35454;
  text-decoration: none;
}
#dif{
  /*border: 1px dashed red;
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 150px;*/
}
#label{
  background:url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/down4-16.png') right center no-repeat;
  padding:0 20px 0 10px;
  border:solid 1px #eee;
}
